  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Local css -->
  <link rel="stylesheet" href="css/build/style.css">

  <title>Vault - Password manager</title>
  <link rel="shortcut icon" href="images/vault.ico" type="image/x-icon">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">

  <!-- Fontaweswome icons -->
  <script src="https://kit.fontawesome.com/c90aab8689.js" crossorigin="anonymous"></script>