<!DOCTYPE html>
<html lang="en">
<head>
<%- include("partials/head") %>
</head>
<body>
  <div class="classic-box large">
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="green pointer">Generate</li>
        <li class="red pointer">Delete</li>
        <li class="blue pointer" id="add-item">Add new item</li>
        <li>
          <button class="classic-btn m0">Save as</button>
        </li>
      </ul>
    </nav>

    <form class="data-list" action="/save" method="post">
      <span class="checkbox checkbox__all checkbox--off">
        <i class="fa-solid fa-check checkbox__icon"></i>
      </span>

      <div class="data-list__item">
        <span class="checkbox checkbox__main checkbox--off">
          <i class="fa-solid fa-check checkbox__icon"></i>
        </span>
        <input type="text">
        <div class="rel">
          <input type="password">
          <button type="button" class="password-btn" data-toggle="Show;Hide">Show</button>
        </div>
        <i class="fa-regular fa-copy data-list__icon"></i>
      </div>

      <div class="data-list__item">
        <span class="checkbox checkbox__main checkbox--off">
          <i class="fa-solid fa-check checkbox__icon"></i>
        </span>
        <input type="text">
        <div class="rel">
          <input type="password">
          <button type="button" class="password-btn" data-toggle="Show;Hide">Show</button>
        </div>
        <i class="fa-regular fa-copy data-list__icon"></i>
      </div>
    </form>
  </div>

  <%- include('partials/footer') %>

</body>
</html>